@tailwind base;
@tailwind components;
@tailwind utilities;

.font-space-4{
    font-family: 'Space Mono', monospace;
    font-weight: 400;
}
.font-space-7{
    font-family: 'Space Mono', monospace;
    font-weight: 700;
}